<div class="row">
  <div class="col-md-6">
    <h3>15 November 2019</h3>
    <h4>Digital Scholarship Centre, 9.00am - 12.30pm</h4>
    <table class="table table-striped">
      <tr><td><a href="https://librarycarpentry.org/lc-data-intro/">Intro to data</a></td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>13 December 2019</h3>
    <h4>Digital Scholarship Centre, 9.00am - 12.30pm</h4>
    <table class="table table-striped">
      <tr><td><a href="https://librarycarpentry.org/lc-spreadsheets/">Tidy data</a></td></tr>
    </table>
  </div>
</div>

<div class="row">
   <div class="col-md-6">
    <h3>7 February 2020</h3>
    <h4>Digital Scholarship Centre, 9.00am - 12.30pm</h4>
    <table class="table table-striped">
      <tr><td><a href="https://librarycarpentry.org/lc-open-refine/">Openrefine</a></td></tr>
    </table>
  </div>
    <div class="col-md-6">
    <h3>20 March 2020</h3>
    <h4>Digital Scholarship Centre, time TBC</h4>
    <table class="table table-striped">
      <tr><td><a href="https://librarycarpentry.org/lc-shell/">Shell intro</a></td></tr>
    </table>
  </div>
</div>
