<div class="row">
  <div class="col-md-6">
    <h3>12 November</h3>
    <h4>JCMB 1206C, 14:00 - 17:00</h4>
    <table class="table table-striped">
      <tr><td><a href="http://swcarpentry.github.io/shell-novice/">The Unix Shell part 1</a></td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>13 November</h3>
    <h4>JCMB 4325C, 14:00 - 17:00</h4>
    <table class="table table-striped">
      <tr><td><a href="http://swcarpentry.github.io/shell-novice/">The Unix Shell part 2</a></td></tr>
    </table>
  </div>
</div>

<div class="row">
   <div class="col-md-6">
    <h3>19 November</h3>
    <h4>JCMB 3211, 14:00 - 17:00</h4>
    <table class="table table-striped">
      <tr><td><a href="https://www.digitalresearchservices.ed.ac.uk/training/introduction-to-eddie-(ecdf)">Introduction to Eddie part 1</a></td></tr>
    </table>
  </div>
    <div class="col-md-6">
    <h3>20 November</h3>
    <h4>JCMB 4325C, 14:00 - 17:00</h4>
    <table class="table table-striped">
      <tr><td><a href="https://www.digitalresearchservices.ed.ac.uk/training/introduction-to-eddie-(ecdf)">Introduction to Eddie part 1</a></td></tr>
    </table>
  </div>
</div>
