<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-shell">The Unix Shell part 1</h3>
    <ul>
      <li>Files and Directories</li>
      <li>History and Tab Completion</li>
      <li>Pipes and Redirection</li>
      <li><a href="{{site.swc_pages}}/shell-novice/">Lesson Materials ...</a></li>
      <li><a href="{{site.swc_pages}}/shell-novice/reference">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-shell">The Unix Shell part 2</h3>
    <ul>
      <li>Looping Over Files</li>
      <li>Creating and Running Shell Scripts</li>
      <li>Finding Things</li>
      <li><a href="{{site.swc_pages}}/shell-novice/">Lesson Materials ...</a></li>
      <li><a href="{{site.swc_pages}}/shell-novice/reference">Reference...</a></li>
    </ul>
  </div>
</div>
